:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --outfit-family: "Outfit", sans-serif;

  --light-weight: 300;
  --regular-weight: 400;
  --semi-bold-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background: var(--very-dark-blue-main-bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  /* width: min(80%, 21rem); */
  width: 21rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background: var(--very-dark-blue-card-bg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
  position: relative;
}
section:nth-child(1) {
  height: 288px;
  position: relative;
}
img[alt="nft-preview"] {
  width: 100%;
  border-radius: 0.5rem;
}
.overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: hsl(178, 100%, 50%);
  height: 288px;
  border-radius: 0.5rem;
}
.icon-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

section:nth-child(1):hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}
section:nth-child(1):hover .icon-view {
  opacity: 1;
  cursor: pointer;
}
h1 {
  color: var(--white);
  margin: 1rem 0;
  font: var(--semi-bold-weight) 1.25rem var(--outfit-family);
}
p {
  color: var(--soft-blue);
  font: var(--light-weight) 1rem/1.5rem var(--outfit-family);
}
.auction {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.auction-section {
  display: flex;
  gap: 0.25rem;
  font: var(--regular-weight) 1rem var(--outfit-family);
}
.auction-section:nth-child(1) {
  color: var(--cyan);
}

.auction-section:nth-child(2) {
  color: var(--soft-blue);
}
h1:hover {
  color: var(--cyan);
  transition: color 0.6s ease-in-out;
  cursor: pointer;
}
.profile {
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--very-dark-blue-line);
  font: var(--regular-weight) 1rem var(--outfit-family);
  padding: 1rem 0 0.5rem;
}
.profile > img {
  width: 2rem;
  border: solid 1px white;
  border-radius: 50% 50%;
}
.profile p {
  align-self: center;
  color: var(--soft-blue);
}
.profile mark {
  background: none;
  color: var(--white);
}
.profile mark:hover {
  color: var(--cyan);
  transition: color 0.6s ease-in-out;
  cursor: pointer;
}
